<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>893970546704-vf57npqff9urcsu0jp91ebsmref7u36s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.893970546704-vf57npqff9urcsu0jp91ebsmref7u36s</string>
	<key>API_KEY</key>
	<string>AIzaSyCZM6Q4DRIkRKAMyHld5YZm6TgaaFCAJ9o</string>
	<key>GCM_SENDER_ID</key>
	<string>893970546704</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.newlife.apps.newlife</string>
	<key>PROJECT_ID</key>
	<string>newlife-9aefe</string>
	<key>STORAGE_BUCKET</key>
	<string>newlife-9aefe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:893970546704:ios:f0a17f6fb7b5d23d</string>
	<key>DATABASE_URL</key>
	<string>https://newlife-9aefe.firebaseio.com</string>
</dict>
</plist>
