<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>ar</string>
	<key>CFBundleDisplayName</key>
	<string>Tawazon</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>branch_universal_link_domains</key>
	<array>
		<string>tawazon.app.link</string>
		<string>tawazon-alternate.app.link</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb432452614229577</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.newlife.apps.newlife</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.newlife.apps.newlife</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>Tawazon</string>
			</array>
			<key>CFBundleURLName</key>
			<string>io.Branch.Tawazon</string>
		</dict>
	</array>
	<key>branch_key</key>
	<dict>
		<key>live</key>
		<string>key_live_bp7HQwHCbmUmvTTiiPze9cocuthxgj8d</string>
	</dict>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>046f8586a499e1ee928507e47554f75dafce2fbc</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>FacebookAppID</key>
	<string>432452614229577</string>
	<key>FacebookDisplayName</key>
	<string>Tawazon</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
		<string>instagram-stories</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>للاستماع للحصص الصوتية </string>
	<key>NSCameraUsageDescription</key>
	<string>السماح للوصول إلى الكاميرا لتسطيع التقاط الصورة الشخصية</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>السماح للوصول إلى البوم الصور لتسطيع إضافة صورة شخصية</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>السماح للوصول إلى البوم الصور لتسطيع إضافة صورة شخصية</string>
	<key>UIAppFonts</key>
	<array>
		<string>KacstPen.ttf</string>
		<string>lbc-bold.ttf</string>
		<string>lbc.ttf</string>
		<string>KohinoorArabicBold.ttf</string>
		<string>KohinoorArabicSemibold.ttf</string>
		<string>KohinoorArabicMedium.ttf</string>
		<string>KohinoorArabicRegular.ttf</string>
		<string>SF-Pro-Text-Black.otf</string>
		<string>SF-Pro-Text-Bold.otf</string>
		<string>SF-Pro-Text-Light.otf</string>
		<string>SF-Pro-Text-Regular.otf</string>
		<string>SF-Pro-Rounded-Bold.otf</string>
		<string>SF-Pro-Rounded-Medium.otf</string>
		<string>SF-Pro-Rounded-Regular.otf</string>
		<string>SF-Pro-Rounded-Light.otf</string>
		<string>SF-Pro-Text-Semibold.otf</string>
		<string>SF-Pro-Rounded-Semibold.otf</string>
		<string>Sana.ttc</string>
		<string>Muna.ttc</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>remote-notification</string>
	</array>
	<key>UIMainStoryboardFile</key>
	<string></string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
