<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>893970546704-ptivguhlfd8tuassertq4fv9rinea0ia.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.893970546704-ptivguhlfd8tuassertq4fv9rinea0ia</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>893970546704-445ikqa4faqa4kkfbclt1515eikbd5ad.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCZM6Q4DRIkRKAMyHld5YZm6TgaaFCAJ9o</string>
	<key>GCM_SENDER_ID</key>
	<string>893970546704</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.newlife.apps.newlife.TawazonPNServiceExt</string>
	<key>PROJECT_ID</key>
	<string>newlife-9aefe</string>
	<key>STORAGE_BUCKET</key>
	<string>newlife-9aefe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:893970546704:ios:9679cc329e39442e71ca95</string>
	<key>DATABASE_URL</key>
	<string>https://newlife-9aefe.firebaseio.com</string>
</dict>
</plist>